.hour-maker {
    fill: transparent;
    stroke: #f0f0c9;
    stroke-width: 7;
    stroke-dasharray: 0.2 4.8;
    stroke-dashoffset: 0.1;
}

.minute-marker {
    fill: transparent;
    stroke: #0f0e0e;
    stroke-width: 7;
    stroke-dasharray: 0.2 0.8;
    stroke-dashoffset: 0.1;
}